include:
  - compose.shared.yml

services:
  epr-backend:
    build:
      context: .
      target: development
    depends_on:
      localstack:
        condition: service_healthy
      mongodb:
        condition: service_started
    env_file:
      - 'compose/aws.env'
    environment:
      AUDIT_ENABLED: false
      COMMAND_QUEUE_SQS_ENDPOINT: http://localstack:4566
      COMMAND_QUEUE_SQS_URL: http://localstack:4566/000000000000/epr_backend_commands
      FEATURE_FLAG_SUMMARY_LOGS: true
      GOVUK_NOTIFY_API_KEY: /run/secrets/govuk_notify_api_key
      LOCALSTACK_ENDPOINT: http://localstack:4566
      MONGO_URI: mongodb://mongodb:27017/
      NODE_ENV: development
      PORT: 3001
      S3_ENDPOINT: http://localstack:4566
    links:
      - 'localstack:localstack'
      - 'mongodb:mongodb'
    networks:
      - cdp-tenant
    ports:
      - '3001:3001'
    secrets:
      - govuk_notify_api_key
    volumes:
      - ./src:/home/node/src
      - ./package.json:/home/node/package.json

  epr-frontend:
    depends_on:
      localstack:
        condition: service_healthy
      redis:
        condition: service_started
    env_file:
      - 'compose/aws.env'
    environment:
      APP_BASE_URL: http://epr-backend:3001
      LOCALSTACK_ENDPOINT: http://localstack:4566
      NODE_ENV: development
      PORT: 3000
      REDIS_HOST: redis
      USE_SINGLE_INSTANCE_CACHE: true
    image: defradigital/epr-frontend:${FRONTEND_VERSION:-latest}
    links:
      - 'localstack:localstack'
      - 'redis:redis'
    networks:
      - cdp-tenant
    ports:
      - '3000:3000'
    profiles:
      - all

secrets:
  govuk_notify_api_key:
    environment: GOVUK_NOTIFY_API_KEY
